html[b-bv4hcuziyz], body[b-bv4hcuziyz] { margin: 0; padding: 0; }
body[b-bv4hcuziyz] { overscroll-behavior: none; }
main > :first-child[b-bv4hcuziyz] { margin-top: 0 !important; }
main > :last-child[b-bv4hcuziyz] { margin-bottom: 0 !important; }
[b-bv4hcuziyz]::-webkit-scrollbar { display: none; }
